@using Core.Models
@using Core.Models.Entities
@using Core.Models.Output
@model ResultModel<List<LogUserModel>>

<div class="table-header">
    <i class="ace-icon fa fa-list"></i>
    LOG ĐĂNG NHẬP HỆ THỐNG
    <div class="pull-right padding-right-5" style="font-size: 12px; ">
        <div class="col-xs-12">
            <a href="javascript:void(0)" onclick="ExportExcel();" class="pull-right tooltip-info" data-placement="left" data-toggle="tooltip" title="Xuất excel">
                <i class="ace-icon fa fa-file-excel-o bigger-120 white "> Excel</i>
            </a>
        </div>
    </div>
</div>
<table class="table table-responsive table-striped table-bordered" id="TableTongHop" style="display: table;">

    <thead>
        <tr>
            <th class="center" style="text-align: center;">
                STT
            </th>
            <th class="center">
                LOG_USER_ID
            </th>
            <th class="center">
                UserName
            </th>
            <th class="center">
                Thời điểm đăng nhập
            </th>
            <th class="center">
                SESSION_ID
            </th>
            <th class="center">
                IP Máy chủ
            </th>
            <th class="center">
                IP Máy trạm
            </th>
            <th class="center">
                Trình Duyệt
            </th>
            <th class="center">
                Kết quả
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Data != null)
        {
            foreach (var item in Model.Data)
            {

                <tr>
                    <td style="text-align: center">
                        @item.STT
                    </td>
                    <td style="text-align: center">@item.LOG_USER_ID</td>
                    <td>@item.TEN_DANG_NHAP</td>
                    <td>@item.TG_THUC_HIEN</td>
                    <td>@item.SESSION_ID</td>
                    <td>@item.IP_MAY_CHU</td>
                    <td>@item.IP_MAY_TRAM</td>
                    <td>@item.TRINH_DUYET</td>
                    <td>@item.THANH_CONG</td>
                </tr>
            }
        }
        else
        {
            <p>Không có dữ liệu</p>
        }
    </tbody>
</table>
<style>
    .sumTable {
        background: orange !important;
    }
</style>
<script>
    function ExportExcel() {
        var ut = new Date();
        var year, month, day, h, m, s;
        var time = "";
        year = ut.getFullYear();
        month = ut.getMonth();
        day = ut.getDate();
        h = ut.getHours();
        m = ut.getMinutes();
        s = ut.getSeconds();
        time = year + "" + month + "" + day + "" + h + "" + m + "" + s;
        $("#TableTongHop").table2excel({
            name: "LOG_DANG_NHAP",
            filename: "LOG_DANG_NHAP" + time,
            fileext: ".xls"
        });
    };
</script>